/* Paleta de Colores */
/* Colores */
/* El color numero 7 es el que se ha ocupado */
.color-7 { color: #F2EFC2; } 
.color-1 { color: #47A603; }
.color-2 { color: #3B7302; }
.color-3 { color: #067302; }
.color-4 { color: #055902; }
.color-5 { color: #37A603; }
.color-6 { color: #95D904; }
.color-8 { color: #BF7821; }
.color-9 { color: #A64F03; }
.color-10 { color: #61721B; }
.color-11 { color: #393E06; }
.color-12 { color: #DAA273; }
.color-13 { color: #742608; }
.color-14 { color: #230000; }

/* Fondos */
/* Los tres primeros fondos son los funcionales */
.background-1 { background-color: #d1d80b; }
.background-3 { background-color: #D2B48C; }
.background-5 { background-color: #549e42b6; }
.background-4 { background-color: #734002; }
.background-2 { background-color: #5A7302; }
.background-6 { background-color: #034001; }
.background-7 { background-color: #ebf64e; }
.background-8 { background-color: #3C8C03; }
.background-9 { background-color: #3B7302; }
.background-10 { background-color: #74BF04; }

/* Fuentes */
/*
font-family: 'Combo', cursive;
font-family: 'Fruktur', cursive;
font-family: 'Miltonian Tattoo', cursive;
font-family: 'Sofadi One', cursive;
 */

body{
     background-color:  #f8e2ba;
 }

 /* Navbar */
h1{
    font-family: 'Fruktur', cursive;
    color: #230000;
}

.sombra{
    text-shadow: 2px 2px 3px red;
}

.animate__animated.animate__backInDown {
    --animate-duration: 2s;
  }

.logo{
    border-radius: 20px;
    width: 10vw;
    height: 15vh;
}

.face{
    width: 7vw;
    height: 7vh;
}

.insta{
    width: 7vw;
    height: 7vh;
}

.twitter{
    width: 7vw;
    height: 7vh;
}

/* Hero */

/* chefcito */
.fondo{
    background: url("../img/chefcito.png") no-repeat;
    font-weight: bolder;
    background-size: 20%;
    background-color: #D2B48C;
}

h2{
    font-family: 'Combo', cursive;
    font-weight: bold;
    color: #022601;
}

hr{
    background-color: #3C8C03;
    height: 3px;
}

p{
    color: #1b0801;
}

.ingre{
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    transition: clip-path 4s;
}

.ingre:hover{
    clip-path: inset(3% 5% 7% 3%);
}



/* Carousel */

.carousel{
    height: 70%;
}

.flor{
    width: 45vw;
    height: 62vh;
}

.ramen{
    width: 45vw;
    height: 62vh;
}

.gusano{
    width: 45vw;
    height: 64vh;
}

/* Sustituye la fechita */
.carousel-control-prev-icon, .carousel-control-next-icon{
    background-image: url("https://www.flaticon.es/svg/vstatic/svg/2159/2159687.svg?token=exp=1611681687~hmac=2c476e342a16c1e078eb9e61b77a01ec");
    height: 50px;
    width: 50px;
}

/* chefcito2 */
.fondo2{
    background: url("../img/cheff.png") no-repeat;
    background-size: 25%;
    background-position: 960px;
}



/* Cards */

.carta{
    border-radius: 10px;
    box-shadow: 3px 3px 2px #067302;
}

.cartas{
    display: flex;
    justify-content: end;
    align-items: end;
    align-self: flex-end;

}

/* viñetas */
li {
    list-style: none;
}

li::before {
    content: '↬';
    font-size: 20px;
    color: blue;

}










